*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.banner{
	width: 100%;
	height: 100vh;
	background-image: url(file:///C:/Users/User/Downloads/bag.png);
	background-size: cover;
	background-position: center;
	overflow: hidden; 
}
.navbar{
	width: 85%;
	margin: auto;
	padding: 35px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo{
	width: 120px;
	cursor: pointer;
}
.navbar ul li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
}
.navbar ul li a{
	text-decoration: none;
	color: #BD5D77;
	text-transform: uppercase; 
}
.navbar ul li::after{
	content: '';
	height: 3px;
	width: 0;
	background: #8B4338;
	position: absolute; 
	left: 0;
	bottom: -10px;
	transition: 0.5s; 
}
.navbar ul li:hover::after{
	width: 100%;
}
.content{
	width: 100%;
	position: top;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	color: #BD5D77;	
	font-size: 25px; 
	margin: 30px;
} 
.container {
  position: relative;
  width: 50%;
  margin-left: 100px;
}
.image {
  display: block;
  width: 300px;
  height: 300px;
}
.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #8B4338;
  overflow: hidden;
  width: 300px;
  height: 0;
  transition: .5s ease;
}
.container:hover.overlay {
  bottom: 0;
  height: 100%;
}
.text {
  white-space: nowrap; 
  color: #BD5D77;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
}
.layer{
    color: #BD5D77;
}